<div role="navigation" class="nav-collapse">
    <ul>
        <li><a href="__URL__/Index/plupload">plupload</a></li>
        <li><a href="__URL__/Index/margintop">盒子边界</a> </li>
        <li><a href="__URL__/Index/cssanimatestep">css3动画帖</a> </li>
        <li><a href="__URL__/Index/cssflybg">css3背景变幻</a> </li>
        <li><a href="__URL__/Index/upanimate">css3点赞效果</a> </li>
        <li><a href="__URL__/Index/loadinganimate">css3加载动画</a> </li>
        <li><a href="__URL__/Index/bootstrapcols">bootstrap栅格</a></li>
        <li><a href="__URL__/Index/loadmorebydrag">iscroll</a></li>
        <li><a href="__URL__/Index/localtocity">城市定位</a></li>
        <li><a href="__URL__/Index/meteor">流星</a></li>
        <li><a href="__URL__/Index/stackblur">canvas图片模糊</a></li>
        <li><a href="__URL__/Index/islider">滑屏</a></li>
        <li><a href="__URL__/Index/fonticon">图标字体</a></li>
        <li><a href="__URL__/Index/mytips">小提示框</a></li>
        <li><a href="__URL__/Index/swipemenu">滑动效果菜单</a></li>
        <li><a href="__URL__/Index/h5menu">h5导航菜单</a></li>
        <li><a href="__URL__/Index/verticalcenter">高度不定的情况垂直居中</a></li>
    </ul>
</div>
