<link href="__CSS__/css/fonticon/fonticon.css" type="text/css" rel="stylesheet"/>
<div class="wrap fontIconWrap">
    <div class="item">
        <div>时钟</div>
        <div class="itemMain">
            <span class="icon-clock myClock"></span>
        </div>
    </div>
    <div class="item">
        <div>搜索</div>
        <div class="itemMain">
            <span class="icon-search mySearch"></span>
        </div>
    </div>
    <div class="item">
        <div>等待</div>
        <div class="itemMain">
            <span class="icon-spinner mySpinner "></span>
        </div>
    </div>
</div>
