<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="__CSS__/css/holygrail.css" type="text/css" rel="stylesheet"/>
</head>
<body class="holyGail">
    <header>这个是头部</header>
    <div class="holyGrail-body">
        <main class="holyGrail-content">
            <div>这个是圣杯布局</div>
            <p>12313133</p>
            <p>12313133</p>
            <p>12313133</p>
            <p>12313133</p>
            <p>12313133</p>
        </main>
        <nav class="holyGrail-nav"></nav>
        <aside class="holyGrail-ads"></aside>
    </div>
    <footer>Copyright © 2011-2016 Jimmy. 当前呈现版本 16.12.14</footer>
</body>
</html>