<style>
    .firstBox{
        height: 100px;
        width: 200px;
        background-color: #606060;
        border: 1px solid transparent;
    }
    .setFirstBox{
        overflow: hidden;
    }
    .subBox{
        height: 80px;
        width: 100%;
        background-color: #9B410E;
        margin: 10px auto;
    }
</style>
<h4>margin collpse盒子边界</h4>
<p>没有设置，默认会合并margin-top样式，导致 firstbox 的外边距也为10px</p>
<div class="firstBox">
    <div class="subBox">subBox</div>
</div>

<p>设置firstBox  overflow:hidden;，不会合并margin-top样式</p>
<div class="firstBox setFirstBox">
    <div class="subBox">subBox</div>
</div>