<link href="__CSS__/css/mytips/mytips.css" rel="stylesheet" type="text/css"/>
<div class="wrap" id="myTipsWrapper">
    <div class="item tips-header">
        <span class="icon-inbox my-inbox"></span>
        <label>下载</label>
    </div>
    <div class="item download-main">

        <div class="download-item">
            <div class="txt my-btn">PSD</div>
            <!--<div class="tips-main">-->
                <!--<div class="tips-box-header">-->
                    <!--<span class="icon-diamonds my-diamonds"></span>-->
                <!--</div>-->
                <!--<div class="tips-box-content">-->
                    <!--<div class="tips-content-item">-->
                        <!--<span class="icon-inbox my-inbox"></span>-->
                        <!--<span class="font">下载</span>-->
                    <!--</div>-->
                    <!--<div class="tips-content-item">-->
                        <!--<span class="icon-link my-link"></span>-->
                        <!--<span class="font">链接</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <div class="download-item">
            <div class="txt my-btn">AI</div>
        </div>
        <div class="download-item">
            <div class="txt my-btn">JPG</div>
        </div>
    </div>
</div>
<script type="application/javascript">
    window.urlObj={
        js:'__JS__',
        img:'__IMG__',
        api:'__API__',
        url:'__URL__',
    };
</script>

<script src="__JS__/libs/require.js" data-main="__JS__/custom/tips/config.js" type="application/javascript"></script>
<!--<script src="__JS__/libs/jquery-1.8.2.min.js" type="application/javascript"></script>-->
<!--<script src="__JS__/custom/tips/tips.js" type="application/javascript"></script>-->
<!--<script src="__JS__/custom/tips/mytips.js" type="application/javascript"></script>-->
