<p>
    <button id="browse">选择文件</button>
    <button id="start_upload">开始上传</button>
    <div id="result"></div>
<div style="height: 100px; width: 100px; background-color: #88a250"></div>
<div style="height: 100px; width: 100px;background-color: #86a04d"></div>
</p>
<script>
    var resultStr='';
    document.getElementById('start_upload').onclick=function(){
        resultStr='';
        for(var i=0;i<28;i++) {
            resultStr+=getRandom()+',';
        }
        console.log(resultStr);
    };


    function getRandom(){
        var index=Math.ceil(Math.random()*28);
        return arr[index];

    }

    var arr=[
            '1','2','3','4','5','6','7','1+','2+','3+','4+','5+','6+','7+','1++','2++','3++','4++','5++','6++','7++',
        '1-','2-','3-','4-','5-','6-','7-'
    ];
</script>

<script src="__JS__/libs/jquery-1.8.2.min.js"></script>
<script src="__JS__/libs/plupload/plupload.full.min.js"></script>
<script src="__JS__/custom/plupload.js"></script>
