<link href="__CSS__/css/swipemenu.css" type="text/css" rel="stylesheet">
<div class="box-news">
    <div class="box-nav">
        <ul class="top-box">
            <li class="on">新闻</li>
            <li>股票</li>
            <li>军事</li>
            <li>音乐</li>
        </ul>
        <span class="line"></span>
    </div>
    <div class="box-content">
        <div class="box-1">1111</div>
        <div class="box-1">2222</div>
        <div class="box-1">3333</div>
        <div class="box-1">4444</div>
    </div>
</div>

<script src="__JS__/libs/event.js" type="application/javascript"></script>
<script src="__JS__/libs/touch.js" type="application/javascript"></script>
<script src="__JS__/custom/swipemenu.js" type="application/javascript"></script>