body {
  margin: 0;
}
body .header {
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #fff;
  height: 50px;
}
body .sidemenu {
  width: 250px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}
body .sidemenu ol {
  margin: 0 auto;
  width: 80%;
}
body .sidemenu ol li {
  height: 25px;
  width: 100%;
  list-style: none;
  margin-top: 8px;
  color: #ADADAD;
}
body .sidemenu ol li a {
  text-decoration: none;
}
body #mainWrapper .frame-content {
  min-height: 600px;
  margin-left: 250px;
  margin-top: 50px;
}
