.animate{
    width: 90px;
    height:60px;
    margin: 20px auto;
    -webkit-animation: run 350ms steps(5) infinite 0s;
    background: url(../../images/test.png);
}
@-webkit-keyframes run {
    /*0% {*/
        /*background-position:0;*/
    /*}*/
    /*20% {*/
        /*background-position:-90px 0;*/
    /*}*/
    /*40% {*/
        /*background-position:-180px 0;*/
    /*}*/
    /*60% {*/
        /*background-position:-270px 0;*/
    /*}*/
    /*80% {*/
        /*background-position:-360px 0;*/
    /*}*/
    100% {
        background-position:-450px 0;
    }

}